.payment-confirmation {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e8f5e9;
    border-radius: 8px;
    text-align: center;
  }
  
  .payment-confirmation h2 {
    color: crimson;
    margin-bottom: 20px;
  }
  
  .payment-confirmation p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color:crimson ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: crimson;
  }
  
