.about {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    border: 1px solid #ccc;
    border-radius: 10px; /* More rounded corners */
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #555;
  }
  
  .about p {
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: justify;
  }
  
  @media (max-width: 768px) {
    .about {
      padding: 15px;
      font-size: 0.9em;
    }
  
    .about h1 {
      font-size: 2em;
    }
  }
  