.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    background-color: #fff;
  }
  
  .logo {
    width: auto;
    max-width: 100%;
    height: auto;
    /* This ensures the logo scales correctly */
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-menu a,
  .navbar-menu .active {
    text-decoration: none;
    color:tomato;
  }
  
  .navbar-menu .active {
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navbar-right img {
    width: 24px;
    height: auto;
  }
  
  .navbar-search-icon {
    position: relative;
  }
  
  .navbar-search-icon .dot {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
  }
  
  button {
    background-color: tomato; 
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    font-weight: 400; 
    font-family: 'Arial', sans-serif; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

button:hover {
    background-color: #e95c47; 
    transform: translateY(-2px); 
}

  
  @media (max-width: 750px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  
    .logo {
      width: 60%; /* Adjust the width for mobile screens */
    }
  
    .navbar-menu {
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-right {
      width: 100%;
      justify-content: space-between;
    }
  }
  