.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}
.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}
.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
