.list {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.5; /* Adjusted line height for better spacing */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  
.list h2 {
  font-size: 2em; /* Adjusted font size for heading */
  font-weight: bold; /* Added bold font weight */
  margin-bottom: 20px; /* Increased bottom margin for spacing */
}
  .list p {
    font-size: 1.1em; /* Adjusted font size for paragraphs */
    margin-bottom: 8px; /* Reduced margin for tighter spacing */
    text-align: center;
  }
  
  .list p.all-foods {
    font-weight: bold; /* Added bold font weight for the heading */
  }
  
  .list-table {
    display: flex;
    flex-direction: column;
  }
  
  .list-table-format {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .list-table-format.title {
    font-weight: bold;
    background-color: #f0f0f0;
  }
  
  .list-table-format img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .remove-button {
    background-color: crimson;
    color: white;
    border: none;
    padding: 6px 10px; /* Adjusted padding for smaller button */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .remove-button:hover {
    background-color: #d32f2f;
  }
  
  @media (max-width: 768px) {
    .list {
      padding: 15px;
      font-size: 1em; /* Adjusted font size for smaller screens */
    }
  
    .list p {
      font-size: 1.1em; /* Further reduced font size for paragraphs */
    }
  
    .list-table-format {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .list-table-format img {
      margin-bottom: 8px; /* Reduced margin for images */
    }
  
    .remove-button {
      margin-top: 8px; /* Adjusted margin for smaller screens */
    }
  }
  