/* List.css */
.list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    font-family: 'Arial', sans-serif;
}

.list p {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title {
    background-color: lightcoral;
    font-weight: bold;
}

.list-table-format img {
    width: 50px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.remove-action {
    color: red;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.remove-action:hover {
    color: darkred;
}

@media (max-width: 600px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    
    .list-table-format.title {
        display: none;
    }
}
